<h1>Welcome!</h1>

<div class="container"> 
    <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
     </div>
 
</div>

<div class="container"> 
    Welcome {{name}}. You can manage our todos <a routerLink="/todos">Here</a>
</div>

<div class="container"> 
    Click here to get customized welcome message
    <button class="btn btn-success" (click)="getWelcomeMessageWithParameter()">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService"> 
    <h2>Your Customized Welcome Message</h2>
    {{welcomeMessageFromService}}
 </div>